.section {
  padding: 10px;
  border: solid 1px black;
  background-color: grey;
}
button {
  background-color: #fff;
}
li {
  list-style: none;
}
.data {
  margin-left: 10px;
  color: green;
  font-weight: bold;
}
.hide {
  display: none;
}
.botType,
.botName {
  margin-left: 5px;
  margin-right: 10px;
  color: green;
  font-weight: bold;
}
